{{!< default}}


{{#tag}}
<header>
    <h1 class="mb-3 font-bold text-4xl">{{name}}</h1>
    <p class="prose mb-3 mt-3">
        {{#if description}}
            {{description}}
        {{/if}}
    </p>
</header>
{{/tag}}

<div>
{{#foreach posts}}
    {{> "card"}} {{!-- partials/card.hbs --}}
{{/foreach}}
</div>
